.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 .imagen {
  background: url("https://images.unsplash.com/photo-1570215171323-4ec328f3f5fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  height: 100%;
  z-index: 1;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
 .imagen2 {
  background: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  height: 100%;
  z-index: 1;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
 .imagen3 {
  background: url("https://images.unsplash.com/photo-1498079022511-d15614cb1c02?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  height: 100%;
  width: 100%;
  /* z-index: 1; */
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.imagen:after{
z-index: -1;
position: absolute;
content: " ";
top:0;
left:0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.4);
display: block;
}
.imagen2:after{
z-index: -1;
position: absolute;
content: " ";
top:0;
left:0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.4);
display: block;
}
.navbar-item{
  color:white !important;
  font-weight: bold;
  
}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: rgba(0,0,0,0.7) !important;
}
.navbar-item:hover{
background-color: transparent !important;
transform : scale(1.3);
-moz-transform : scale(1.3); /* Firefox */
-webkit-transform : scale(1.3); /* Chrome - Safari */
-o-transform : scale(1.3); /* Opera */
-ms-transform : scale(1.3);
}
.pri{
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .navbar-burger{
    color:white !important
  }
  
  .navbar-menu{
    background-color: rgba(0, 0, 0, 0.3)!important;
  }
  
  .fade-enter {
    opacity: 0.7;
    z-index: 1;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 550ms ease-in;
  }
  .zoom:hover{
    background-color: transparent !important;
transform : scale(1.3);
-moz-transform : scale(1.3); /* Firefox */
-webkit-transform : scale(1.3); /* Chrome - Safari */
-o-transform : scale(1.3); /* Opera */
-ms-transform : scale(1.3);
  }
  .zoom{
    /* margin-left: 50px; */
    text-align: end !important;
  }

  .iconS{
    font-size: 100px;
    text-align: center;
  }
  .tooltip {
    position: relative;
    background: transparent;
    border-radius: 9px;
    padding: 0 20px;
    margin: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 90%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  
  }
  .card {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    width: 30%;
  }
  .item {
    /* line-height: 4; */
    color: white;
    position: relative;
  }
  .item:before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 0;
    height: 3px;
    background-color: black;
    transition: all .3s;
  }
  .item:hover:before {
    width: 100%;
  }
  .animat:before {
    left: 50%;
  }
  .animat:hover:before {
    left:0;
  }

  #lista {
    counter-reset: li; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    
}

#lista ol {
    margin: 0 0 0 2em; 
}

#lista li{
    position: relative;
    display: block;
    margin: .5em 0 .5em 2.5em;
    background: transparent;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
    border-radius: 2px;
}

#lista li:hover{
    background: #eee;
    color: #444;
    
}   

#lista li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#lista li:hover:after{
    left: -.5em;
    border-left-color: #444;             
}
.border-button {
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,.5);
  transition: box-shadow 0.6s linear;
  margin: 0.1em;
}

.border-button:hover { box-shadow: 0px 0px 0px 1px rgba(255,255,255,.5)}
/* .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#999;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgba(255,255,255,.1);
}

.my-float{
	margin-top:22px;
} */
#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  transition: all 0.3s; 
  border-radius: 3px;
}

#presentation:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.61);
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  border: none;
}

.plus{
  color: #20272F;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: rgba(37, 166, 17, 0.61);
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
  border: none;
}

.nd3{
  background: rgba(17, 122, 166, 0.61);
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
  border: none;
}

.nd4{
  background: rgba(255,255,255,.1);
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.nd5{
  background-image: url('https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27');
  background-size: 100%;
  right: 40px;
  bottom: 300px;
  animation-delay: 0.08s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}

.letter{
  font-size: 20px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 10px;
  top: 0;
  bottom:0;
  text-align: center;
  line-height: 20px;
}

.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}


@media only screen and (max-width: 800px) {
  #floating-button{
    
    visibility: hidden;
  }
}
.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width:10px;
  display: none;

}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
  display: none;
  
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;  
}
